
.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pão{
    color: rgb(0, 0, 0);
    background-color: rgb(108, 211, 108);
    border: 30px;
border-radius: 15px;
padding: 30px;
margin: 60px 1100px 30px 30px;


}
.dieta{
    color: rgb(0, 0, 0);
    background-color: rgb(108, 211, 108);
    border: 30px;
border-radius: 15px;
padding: 30px;
margin: 0px 1100px 0px 30px;
}


.texto1{
padding: 40px;

}

h1{
    text-align: center;
    background-color: black;
    color: yellow;
    border: 10px;
    border-style: double;
    border-color: orange;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    font-family: "Story Script", sans-serif;


}
.tentando{
    
    font-size: 30px;
    color: white;

}
.tentando:hover{
  font-size: 50px;
}
.referencia{
    
    font-size: 30px;
    color: white;

}
.referencia:hover{
  font-size: 50px;
}
body{
    
    background-image: url(https://images.unsplash.com/photo-1590487988256-9ed24133863e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGFjYWRlbWlhfGVufDB8fDB8fHww);
background-size: cover;

}

video{
    border-radius: 30px;
}

.texto1{
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(45, 44, 44);
    border: 10px;
    border-radius: 15px;
    margin: 15px 450px 20px 0px;
    padding: 30px;
     font-family: "Roboto Mono", monospace;
    
}

img{
width: 450px;
height: 540px;
border-radius: 20px;
margin: 0px 1400px 30px 30px ;
margin-right: 1400px;
margin-top: 0px;
margin-bottom: 30px;
}
 h2{

    color: white;
 }
 .laercio{
    width: 600px;
    height: 450px;
    /* margin-top: -100px; */
    border-radius: 15px;
 }



 .container{
    display: flex;
 }

 a{
    text-decoration: none;
    margin: 0px 5px 0px 5px;
 }