.pão{
    color: rgb(0, 0, 0);
    background-color: rgb(108, 211, 108);
    border: 30px;
border-radius: 15px;
padding: 30px;
margin: 60px 1100px 30px 30px;


}
.dieta{
    color: rgb(0, 0, 0);
    background-color: rgb(108, 211, 108);
    border: 30px;
border-radius: 15px;
padding: 30px;
margin: 0px 30px 0px 1400px;


}


.texto1{
padding: 40px;

}

h1{
    text-align: center;
    background-color: black;
    color: yellow;
    border: 10px;
    border-style: double;
    border-color: orange;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;


}
.tentando{
    
    font-size: 30px;
    color: white;

}
.tentando:hover{
  font-size: 50px;
}
.referencia{
    
    font-size: 30px;
    color: white;

}
.referencia:hover{
  font-size: 50px;
}
body{
    
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-preto-em-gradiente-com-linhas-onduladas_23-2149145957.jpg);
background-size: cover;

}

video{
    border-radius: 30px;
}

.texto1{
    color: whitesmoke;
    font-size: 20px;
}

img{
width: 450px;
height: 540px;
border-radius: 20px;
margin: 0px 1400px 30px 30px ;
margin-right: 1400px;
margin-top: 0px;
margin-bottom: 30px;
}
